@use "../../scss/" as *;
.detail {
  width: 100%;
  padding: 15px;
  @include mobile {
    padding: 5px;
  }
  background-color: $main-bg;
  .back-btn a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $green-core;
    font-weight: 800px;
    font-size: 14px;
    margin: 10px 0;
    transition: all 0.3s ease;
    font-weight: 500;
    &:hover {
      color: $hover;
    }
  }

  .overlay-detail {
    background-position: center;
    object-fit: cover;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: $border-radius;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
