@use "../../scss/" as *;
.section-add-event {
  background-image: $gradient;
  max-width: 100%;
  min-height: 100%;

  padding: 40px;
  form {
    margin: 0 auto;
    max-width: 800px;
    border-radius: 8px;
    .box-textarea {
      width: 100%;
      label {
        font-size: 13px;
        font-weight: bold;
      }
      textarea {
        width: 100%;
        min-height: 150px;
        padding: 13px 15px;
        background-color: #eee;
        border: none;
        outline: none;
      }
    }
    .box-add-detail-btn {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: flex-end;

      button {
        display: flex;
        background: $gradient;
        -webkit-background-clip: text;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        align-items: center;
        border: none;
        color: $blue;

        padding: 5px 10px;
        border-radius: 8px;

        outline: none;
      }
    }
    .box-add-detail {
      transition: all 0.3s ease-out;
      h4 {
        color: #999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
      }
      &-field {
        display: flex;
        flex-direction: column;
        align-items: center;

        input,
        textarea {
          width: 300px;
          outline: none;
          border: none;
          padding: 13px 15px;
          background-color: #eee;
          border-radius: 10px;
          margin-bottom: 10px;
          transition: all 0.3s ease-out;
        }
      }
    }
    .box-input {
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      button {
        display: block;
        margin: 0 auto;
        color: #fff;
        margin-top: 20px;
        padding: 12px 20px;
        border: none;
        outline: none;
        background-color: $blue;
        border-radius: 8px;
      }
      .box-x-input {
        label {
          font-size: 13px;
          font-weight: bold;
        }
        display: flex;
        flex-direction: column;
        gap: 5px;
        input {
          width: 300px;
          outline: none;
          border: none;
          padding: 13px 15px;
          background-color: #eee;
        }
      }
    }
  }
}
