@use "../../scss/" as *;
.status {
  width: 20%;

  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  .circle {
    position: absolute;

    right: -2px;
    top: -3px;
  }
  h4 {
    color: white;
    font-size: 20px;
  }
  p {
    color: white;
    font-size: 16px;
  }
}
.status.style-1 {
  background: #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #514a9d,
    #24c6dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #514a9d,
    #24c6dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.status.style-2 {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8e54e9,
    #4776e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.status.style-3 {
  background: #f857a6;
  background: -webkit-linear-gradient(to right, #f857a6, #ff5858);
  background: linear-gradient(to right, #f857a6, #ff5858);
}
.status.style-4 {
  background: #e55d87; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5fc3e4,
    #e55d87
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5fc3e4,
    #e55d87
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
