.home {
  padding: 15px;
}
.cardbox-row {
  width: 100%;
  &-slide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-box-flex: 0;
    flex-grow: 0;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 0 !important;
  }
}
.cardbox-row-grid {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
}
