@use "../../scss/" as *;

.card {
  width: 100%;
  border-radius: 4px;
  transition: all 0.4s ease;
  .hover-see-more {
    display: none;
    transition: all 0.4s ease;
  }
  &:hover img {
    filter: grayscale(40%);
  }
  &:hover .hover-see-more {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: block;
  }

  .info-event {
    h4 {
      font-size: 14px;
      font-weight: 600;
    }
    span {
      font-size: 12px;
      font-weight: 300;
      color: #999;
    }
  }
  .img img {
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
    position: relative;
    max-width: 100%;
  }
}
